<% provide(:title, "Log-in") %>
<%= stylesheet_link_tag "custom"%>

<h1>Log-in</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% flash.each do |msg_t, msg| %>
			<div class="alert alert-<%= msg_t %>">
				<% if msg.is_a?(String) %>
					<%=  sanitize(msg) %>	
				<% end %>
			</div>		
		<% end %>	
		<%= form_for(:session, url: login_path) do |f| %>
			<%= f.label :email %>
			<%= f.email_field :email %>
			
			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :remember_me, class: "check_box inline" do %>

			<%= f.check_box :remember_me %>
			<span>Remerber</span>

			<% end %>
			<%= f.submit "Log in", class: 'btn btn-primary' %>
		<% end %>
		<p>New user? <%= link_to "Register", sign_path %>
	</div>
</div>
