<% provide :title, "User "+@user.name %>
<section class="user_info center">
	<% flash.each do |msg_t, msg| %>
		<div class="alert alert-<%= msg_t %>">
			<%=  msg %>
		</div>		
	<% end %>	
	<%= render "shared/avatar_display", user: @user, width: 200 %>	
	<h1><%= @user.name  %></h1>
	<h3><%= @user.email %></h2>
	<div class="col-md-12">
		<% if @user.posts.any? %>
			<h3> Posts </h3>			
			<%= paginate @posts %>
			<ol class="posts">
				<%= render @posts %>
			</ol>
		<% end %>
	</div>
</section>